<header class="mt-4 flex justify-center">
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="justify-center flex-row flex mt-8 ml-5" id="containerArticles">
  <div id="articlesMain">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH9wuoSx9iqLzRg2onJmovGOxhl3zXbTbQXA&usqp=CAU"
      cardTitle="Mavel studio e os novos vingadores..."
      cardDescription="Preste a ser lançado mais um emocionante filme da franquia Mavel"
    >
    </app-big-card>
  </div>

  <div class="ml-7" id="articlesOthers">
    <app-small-card
      cardTitle="Nova serie anunciada, terá estreia prorrogada para o proximo semestre"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCZHdu0cfEKl9jl6z7UpB34MwFu2-jQDI2hg&usqp=CAU"
    >
    </app-small-card>

    <app-small-card
      cardTitle="Mavel escondendo seus novos planos, o que será que vai acontecer "
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRukMkI-JmutfuVcdRKDFHw2vIT2y9SCyDArw&usqp=CAU"
    >
    </app-small-card>

    <app-small-card
      cardTitle="Filme da Mavel 2022, o mais novo filme tão esperado pela critica "
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8NQEvkqODlnsMWuPz_dBmLcuAV_RaTKuBpw&usqp=CAU"
    >
    </app-small-card>

  </div>
</div>
